
.border {
    border-radius: .25rem!important;
}

#addJob {
    
}

.postType {
    margin-top: 10px;
}

.postParams {
    margin-bottom: 30px;
}

.jobDescription {
    margin-bottom: 30px;
}

.listingDescription {
    -webkit-user-modify: read-write
}

.jobTitle {
    -webkit-user-modify: read-write
}

.postJob {
    -webkit-user-modify: read-only;
}

.input-bar {
    backdrop-filter: blur(25px);
}