.jobs, #lang, #keyword, .option {
  /* margin-left: 50px;
    margin-right: 50px; */
  background: transparent !important;
  backdrop-filter: blur(25px);
  border-color: rgb(0, 255, 221) !important;
}