video {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.home-page {
  /* display: flex; */
  /* align-content: center; */
  /* justify-content: center; */
  margin-top: 10px;
  background: none;
}

#viewContent {
  text-align: center;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: transparent!important;
}

.welcome {
  color: rgb(0, 255, 221)
}

.card {
  border: #343a40 solid 2px;
  border-radius: 15px;
}

.listing {
  margin-top: -50px;
  margin-bottom: 50px;
  background: transparent!important;
  backdrop-filter: blur(25px);
  border-color: rgb(0, 255, 221)!important;
}

@media only screen and (max-width: 320px) {
  .welcome {
    font-size: 50px;
  }

}

@media only screen and (min-width: 425px) {
  .welcome {
    font-size: 50px;
  }
}