h2 {
    color: rgb(0, 255, 221);
}

.savedJob {
    margin-left: 50px;
    margin-right: 50px;
}

.hyperCard:link {
    text-decoration: none;
    text-shadow: none;
}

.hyperCard {
    color: black!important;
}

.center {
    align-items: center;
}
