h2 {
    color: rgb(0, 255, 221);
}

.savedJob {
    margin-left: 50px;
    margin-right: 50px;
}

.hyperCard:link {
    text-decoration: none;
    text-shadow: none;
}

.hyperCard {
    color: black!important;
}

.searchJobs {
    margin-bottom: 10px;
    margin-left: 400px!important;
    margin-right: 400px!important;
    display: flex;
    justify-content: center;
    text-align: center;

}

.center {
    align-items: center;
}
