.signupForm {
  margin-left: 25px;
  margin-right: 25px;
}

.signup {
  text-align: center;
}

.nav-link {
  border: none!important;
}

.nav-tabs {
  border-bottom: none!important;
  margin-bottom: -20px!important;
}

#signup {
    min-width: 130px;
    min-height: 30px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
  background: linear-gradient(90deg, rgb(0, 255, 221) 0%, rgb(150, 255, 241) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
    #signup::before {
  content: '';
    border: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #signup:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  #signup:hover::before, #signup:focus::before {
    opacity: 1;
  }
  
  #signup::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(0, 255, 221);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
  }
  
  #signup:hover::after, #signup:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: .5;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
  

  