/* #signup {
    background-color: transparent!important;
    color: #007bff!important;
    border-color: transparent!important;
}

#signup:hover {
    color: green!important
} */


#signup {
    min-width: 130px;
    min-height: 30px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
  background: linear-gradient(90deg, rgb(60, 105, 254) 0%, rgb(147, 171, 249) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(0, 7, 99, 0.248);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
    #signup::before {
  content: '';
    border: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #signup:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  #signup:hover::before, #signup:focus::before {
    opacity: 1;
  }
  
  #signup::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #0011ff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
  }
  
  #signup:hover::after, #signup:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: .5;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
  

  