.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 15px;
}

.price {
    margin-right: 60px;
    border: none !important;
    background: transparent;
}

.card-title {
    color: white;
}

.listingPreview {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn {
    margin-right: 20px;
    margin-top: 5px
}

h2 {
    text-align: center;
}

.edits {
    font-size: 15px;
    color: rgb(0, 255, 221)!important;
}

.hyperCard {
    color: black!important;
}

.paybar {
    margin-left: -15px
}

.hyperCard:link {
    text-decoration: none;
    text-shadow: none;
    color: black !important;
}