.editListing {
    background: transparent!important;
    margin-left:86px;
    margin-right:86px;
    backdrop-filter: blur(25px);
    border-color: rgb(0, 255, 221)!important;
    color: white;
    border-radius: 15px;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 15px;
}

.editPay {
    margin-right: 60px;
    background-color: transparent;
    border: none !important;
}

.listingEdit {
    -webkit-user-modify: read-write
}

.btn {
    margin-right: 20px;
    margin-top: 5px
}

h2 {
    text-align: center;
}

.hyperCard {
    color: black !important;
}

.hyperCard:link {
    text-decoration: none;
    text-shadow: none;
    color: black !important;
}