.brand {
  font-size: 30px!important;
  color: rgb(0, 255, 221)!important;
}

.navbar {
  background-color: transparent!important;
}

.btn {
  background-color: transparent!important;
  border-color: rgb(0, 255, 221)!important;
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 600px) {
  .brand {
    font-size: 35px;
  }
}

