.form-control {
    background: transparent !important;
}

.loginForm {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

#login {
    min-width: 120px;
    min-height: 30px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: linear-gradient(90deg, rgb(0, 255, 221) 0%, rgb(150, 255, 241) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

#login::before {
    content: '';
    border: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

#login:hover,
#login:focus {
    color: #313133;
    transform: translateY(-6px);
}

#login:hover::before,
#login:focus::before {
    opacity: 1;
}

#login::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(0, 255, 221);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
}

#login:hover::after,
#login:focus::after {
    animation: revring 1s infinite;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: .5;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}